vdev1 {
  position:relative;
  display:grid;
  grid-template-areas:
    "vdev1-color"
    "vdev1-name";
  grid-template-rows: auto auto;
  grid-gap:20px;
  margin:10px auto;
  width:700px;
  background:rgba(var(--bgelev1));
  border-radius:20px;
  box-shadow:0 0 10px 0 rgba(var(--shadow),0.25);
  overflow:hidden;
}

vdev1 vdev1-name {
  grid-area:vdev1-name;
  justify-self: end;
  margin:20px;
  padding:20px;
  font:800 25px var(--sans);
  background:rgba(var(--bgelev3));
  border-radius:20px;
}

vdev1 vdev1-name span {
  background:linear-gradient(to right, var(--fontgradient));
  -webkit-background-clip:text;
  color:rgba(0,0,0,0);
}

vdev1 vdev1-name i {
  color:var(--fontaccent1);
}

vdev1 vdev1-color {
  grid-area:vdev1-color;
  position:relative;
  display:block;
  background:rgba(var(--bgelev1));
  background-image: linear-gradient(to bottom right, var(--pastelgradient1));
  background-blend-mode: var(--blendmode);
  border-radius: 20px 20px 50px 0;
}

vdev1 vdev1-color .vdev1 {
  margin:30px;
  padding:40px;
  font-size:15px;
  background:rgba(var(--bgelev1));
  border-radius:20px;
}

vdev1 vdev1-color .vdev1 h1,
vdev1 vdev1-color .vdev1 h2,
vdev1 vdev1-color .vdev1 h3,
vdev1 vdev1-color .vdev1 h4,
vdev1 vdev1-color .vdev1 h5,
vdev1 vdev1-color .vdev1 h6 {
  color:var(--fontaccent2);
  margin:0;
}

vdev1 vdev1-color .vdev1 b {
  color:var(--fontaccent1);
}

vdev1 vdev1-color .vdev1 i {
  font:500 italic 17px var(--sans);
  color:var(--fontaccent2);
}

vdev1 vdev1-color .vdev1 u {
  font:800 20px var(--display);
  text-decoration-color:var(--fontaccent2);
}

vdev1 vdev1-color .vdev1 a {
  font:800 20px var(--display);
  color:var(--fontaccent3);
}

vdev1 vdev1-color .vdev1 blockquote {
  background:rgba(var(--bgelev2));
  padding:20px;
  border-radius:10px;
}

vdev1 vdev1-color .vdev1 ol,
vdev1 vdev1-color .vdev1 ul {
  list-style-type: none;
  padding:0;
}

vdev1 vdev1-color .vdev1 ol li {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  margin:3px;
  padding:5px;
  background:rgba(var(--bgelev3));
  border-radius:5px;
}

vdev1 vdev1-color .vdev1 ul li {
  margin:3px;
  padding:5px;
  background:rgba(var(--bgelev3));
  border-radius:5px;
}

vdev1 vdev1-color .vdev1 quote {
  display:block;
  padding:3px;
  font:800 25px var(--sans);
  border-bottom:2px solid var(--fontaccent3);
}

vdev1 vdev1-color .vdev1 quote::before {
  content: '❝ ';
  font-size:30px;
  color:var(--fontaccent3);
}

vdev1 vdev1-color .vdev1 cite {
  display:block;
  text-align:right;
  padding:5px;
}

vdev1 vdev1-color .vdev1-images {
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}

vdev1 vdev1-color .vdev1 img {
  border-radius:10px;
  margin:10px 0;
}

vdev1 vdev1-color .vdev1 img.one {
  width:100%;
}

vdev1 vdev1-color .vdev1 img.two {
  width:49%;
}

vdev1 vdev1-color .vdev1 img.three {
  width:32%;
}

vdev1 vdev1-color .vdev1 .songs {
  margin-top:20px;
  display:grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 180px);
  grid-gap:10px;
}

vdev1 vdev1-color .vdev1 song {
  position:relative;
  width:180px;
  height:180px;
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius:10px;
  overflow:hidden;
}

vdev1 vdev1-color .vdev1 .songs song scr {
  position:absolute;
  display:block;
  width:180px;
  height:180px;
  background: rgba(var(--bgelev1)) linear-gradient(to bottom right, var(--pastelgradient1));
  opacity:0.7;
}

vdev1 vdev1-color .vdev1 .songs song st {
  position:relative;
  font:600 20px var(--sans);
  text-transform: lowercase;
  z-index:2;
}

vdev1 vdev1-color .vdev1 .songs song artist {
  position:relative;
  font:10px var(--sans);
  text-transform: uppercase;
  z-index:2;
}

vdev1 vdev1-color .vdev1 .songs song a {
  position:absolute;
  display:block;
  right:-10px;
  bottom:-15px;
  z-index:2;

}

vdev1 vdev1-color .vdev1 .songs song i {
  font-family:"Font Awesome 6 Pro";
font-style:normal;
  font-size:100px!important;
}

vdev1 vdev1-color .vdev1 .songs song:hover scr {
opacity:0;
transition:0.3s ease;
}
